<div class="board flex">
  <div class="layout-row">
    <Tile::Tile @pos={{0}} @state={{this.state}} @onClick={{this.placeMove}} />
    <Tile::Tile @pos={{1}} @state={{this.state}} @onClick={{this.placeMove}} />
    <Tile::Tile @pos={{2}} @state={{this.state}} @onClick={{this.placeMove}} />
  </div>
  <div class="layout-row">
    <Tile::Tile @pos={{3}} @state={{this.state}} @onClick={{this.placeMove}} />
    <Tile::Tile @pos={{4}} @state={{this.state}} @onClick={{this.placeMove}} />
    <Tile::Tile @pos={{5}} @state={{this.state}} @onClick={{this.placeMove}} />
  </div>
  <div class="layout-row">
    <Tile::Tile @pos={{6}} @state={{this.state}} @onClick={{this.placeMove}} />
    <Tile::Tile @pos={{7}} @state={{this.state}} @onClick={{this.placeMove}} />
    <Tile::Tile @pos={{8}} @state={{this.state}} @onClick={{this.placeMove}} />
  </div>
</div>
